<section class="grid grid-cols-1 md:grid-cols-2 gap-3">

    <div class="bg-white rounded shadow p-10 text-center">
        <div class="flex justify-evenly">
            <h2 class="text-2xl font-bold mb-5">if: {{ showContent() }}</h2>
    
            <button (click)="toggleContent()"
                    class="p-2 bg-blue-600 rounded text-white mb-5">
                Click me!
            </button>
        </div>

        @if ( showContent() ) {
            <p>Hola, este texto es secreto 🛡</p>
        } @else {
            <p>******************</p>
        }
    </div>

</section>