<section class="grid grid-cols-1 md:grid-cols-2 gap-3">
    <!-- @if @else -->
    <div class="bg-white rounded shadow p-10 text-center">
        <div class="flex justify-evenly">
            <h2 class="text-2xl font-bold mb-5">if: {{ showContent() }}</h2>

            <button (click)="toggleContent()"
                    class="p-2 bg-blue-600 rounded text-white mb-5">
                Click me!
            </button>
        </div>

        @if ( showContent() ) {
            <p>Hola, este texto es secreto 🛡</p>
        } @else {
            <p>******************</p>
        }
    </div>

    <!-- @switch -->
    <div class="bg-white rounded shadow p-10 text-center">
      <div class="flex justify-evenly">
          <h2 class="text-2xl font-bold mb-5">Calificación: {{ grade() }}</h2>
      </div>

      @switch ( grade() ) {
        @case ('A') {
          <p [classList]="classBadges.concat(' bg-green-50 text-green-700 ring-green-600/20')">Puntuación mayor a 90.</p>
        }
        @case ('B') {
          <p [classList]="classBadges.concat(' bg-yellow-50 text-yellow-800 ring-yellow-600/20')">Puntuación mayor a 70.</p>
        }
        @default {
          <p [classList]="classBadges.concat(' bg-red-50 text-red-700 ring-red-600/10')">Puntuación menor a 70.</p>
        }
      }


      <button (click)="generateGrade()"
              class="p-2 bg-blue-600 rounded text-white mt-5">
          Cambiar calificación
      </button>
    </div>

    <div class="bg-white rounded shadow p-10 text-center">
      <div class="flex justify-evenly">
          <h2 class="text-2xl font-bold mb-5">Frameworks</h2>
      </div>

      <div class="flex justify-around">
        @for (framework of frameworks(); track $index; let odd = $odd, even = $even) {
          <span [ngClass]="{'bg-purple-300 text-purple-700 ring-purple-700/10': even,
                            'bg-indigo-300 text-indigo-700 ring-indigo-700/10': odd}"
                [classList]="classBadges.concat(' w-20')">
            {{ framework }}
          </span>
        }
      </div>

    </div>
</section>
